body {
  font-family: Helvetica;
}

#root > div {
  display: flex;
}

#root > * {
}

.left-scene {
  flex: 0 0 60%;
  display: flex;
  .flat-list {
    column-count: 2;
    column-gap: 5px;
    padding: 5px;
    .flat {
      width: 400px;
      height: 250px;
      padding: 5px;
      margin-bottom: 5px;
      // background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
      background-repeat: no-repeat;
      background-size: 100% 100%;
      position: relative;
      color: #fff;
      h4 {
        position: absolute;
        bottom: 0;
      }
      img {
        width: 100%;
      }
    }
  }
}

.right-scene {
  flex: 0 0 40%;
  background-color: #ecf0f1;
}
